<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Bank Branches</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/bank_branches/add">Add Bank Branch</a></li>
        <li><a href="/bank_branches">List Bank Branches</a></li>
        <li><a href="/users">List Users Bank Branches</a></li>
        <li><a href="/stats">Stats Bank Branches</a></li>
    </ul>
    <table>
        <caption style="text-align:left"><b>Highest Balances</b></caption>
        <tr>
            <td>Name</td>
            <td>Location</td>
            <td>Balance</td>
        </tr>
        {% for highestBalance in highestBalances %}
            <tr>
                <td>{{ highestBalance.bank_branch_name }}</td>
                <td>{{ highestBalance.bank_branch_location }}</td>
                <td>{{ highestBalance.bank_branch_highest }}</td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <br/>
    <table>
        <caption style="text-align:left"><b>Top Banks</b></caption>
        <tr>
            <td>name</td>
            <td>location</td>
        </tr>
        {% for topBankBranche in topBankBranches %}
            <tr>
                <td>{{ topBankBranche.bank_branch_name }}</td>
                <td>{{ topBankBranche.bank_branch_location }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endblock %}
</body>
</html>
