<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/bank_branches/add">Add Bank Branch</a></li>
        <li><a href="/bank_branches">List Bank Branches</a></li>
        <li><a href="/users">List Users Bank Branches</a></li>
    </ul>
        {{ form(form) }}

        {% for label, messages in app.flashes(['success', 'error']) %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


    {% endblock %}
</body>
</html>
